<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="../elements/under-construction.html">

<dom-module id="travel-view">

  <template>

    <style include="shared-styles"></style>
    <style>
      :host {
        display: block;
      }
    </style>

    <under-construction></under-construction>

  </template>

  <script>

    Polymer({

      is: 'travel-view',
      
      behaviors: [
        Polymer.IronResizableBehavior
      ]

    });

  </script>

</dom-module>
